# Database Configuration (Default: MongoDB)
MONGO_URI=mongodb://localhost:27017/nexus-commerce

# If using SQL (PostgreSQL/MySQL) with a custom Repository Implementation:
# DATABASE_URL=postgresql://user:password@localhost:5432/nexus
JWT_SECRET=supersecretkey
PORT=3000
